
.page {
    width: 100%;
}

.page-width {
    width: 50%;
}

.main-section {
    display: flex;
    justify-content: center;
}

/*****************************************************************
***** Navigation Section *****
*****************************************************************/

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

/*****************************************************************
***** Header Section *****
*****************************************************************/



/*****************************************************************
***** Resume Section *****
*****************************************************************/