* {
    margin:0;
    padding: 0;
    font-weight: 600;
}

html {
    font-size: 62.5%;
}

.page {
    width: 100%;
    font-family: "Urbanist";
}

.page-width {
    width: 80%;
}

.main-section {
    display: flex;
    justify-content: center;
}

.big-button {
    background-color: black;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 250ms;
    width: 220px;
    height: 50px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 550;
}

.big-button:hover {
    border-radius: 15px;
}

.small-button {
    background-color: black;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 250ms;
    width: 150px;
    height: 38px;
    text-align: center;
}

.small-button:hover {
    border-radius: 10px;
}


/*****************************************************************
***** Navigation Section *****
*****************************************************************/
.navigation-section {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,1);
    height: 68px;
    z-index: 1;
}

.navbar {
    height: 100%;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    height: 100%;
    padding: 0;
}

.navbar ul li {
    font-size: 30px;
    width: 150px;

}

.name-logo {
    text-align: center;
}

/*****************************************************************
***** Header Section *****
*****************************************************************/
.header-section {
    height: 100vh;
    background-color: rgba(240,240,240,1)
}

.header-section > div {
    display: flex;
    align-items: center;
}

.header-section-information {
    margin-top: 100px;
}

h1 {
    font-size: 11.5rem;
    
}

.header-section-information span {
    font-size: 6rem;
}

.header-section-information button {
    margin: 20px 0 0 0;
}

/*****************************************************************
***** Resume Section *****
*****************************************************************/
.resume-section {
    background-image: linear-gradient(to right, rgb(85, 170, 170), rgb(131, 236, 222));

}

.resume-section-information {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.resume-section-information p {
    width: 65%;
    font-size: 3.6rem;
    color: white;
    line-height: 35px;
}

.resume-section-information button {
    background-color: white;
    color: black;
}

/*****************************************************************
***** Project Section *****
*****************************************************************/
.project-section {
    background-color: rgba(240,240,240,1);
}

.project-section .page-width {
    margin-bottom: 80px;
}

.project-section-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.project-section-information h2 {
    font-size: 4rem;
}

.project-section-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 430px 430px;
    grid-gap:15px;
}

.project-one {
    background-color: red;
    grid-column: 1 / span 2;
}
.project-two {
    background-color: blue;
}
.project-three {
    background-color: blue;
}
.project-four {
    background-color: red;
    grid-column: 2/ span 2;
}

.project-section-grid article {
    font-size: 10px;
}

.project-section-grid article span {
    display: block;
    margin: 30px;
    font-size: 1.8em;
}

.project-section-grid article h3 {
    position: relative;
    padding: 100px 0 0 30px;
    font-size: 3.6em;
}

.project-section-grid article p {
    padding: 20px 10px 0 30px;
    font-size: 1.4em;
}




/*****************************************************************
***** Skill Section *****
*****************************************************************/
.skill-section {
    background-image: linear-gradient(to right, rgb(85, 170, 170), rgb(131, 236, 222));
    height: 300px;
}

.skill-section .page-width {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.skill-section-information {
    width: 50%;
}

.skill-section-information h2 {
    font-size: 4rem;
}

.skill-section-information p {
    font-size: 2rem;
}

.skill-list {
    display: flex;
    flex-direction: row;
    font-size : 3.6rem;
    width: 50%;
    justify-content: space-around;
}

.skill-list-column > ul {
    list-style-type: none;
}


/*****************************************************************
***** About Section *****
*****************************************************************/
.about-section {
    background-color: rgba(240,240,240,1);
    height: 100vh;
}

.about-section-information {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section-information h2 {
    font-size: 4rem;
    margin: 10px 0;
}

.about-section-information p {
    font-size: 3.6rem;
    margin: 22px 0;
    line-height: 40px;
    width: 80%;
}

.about-section-information p strong {
    font-weight: 800;
}

/*****************************************************************
***** Contact Section *****
*****************************************************************/
.contact-section {
    background-color: rgba(50,50,50,1);
    height: 700px;
}

.contact-section-information {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-section-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.contact-section-links a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.contact-section-text {
    width: 50%;
}

.contact-section-text h2 {
    font-size: 4rem;
    margin-top: 100px;
}

.contact-section-text p {
    font-size: 3.2rem;
    margin: 20px 0;
}

.contact-section form {
    display: flex;
    flex-direction: column;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: 60px 60px 60px;
    grid-gap:20px;
    margin: 20px 0;
}

.form-grid input{
    background-color: rgba(100,100,100,1);
    color: white;
    font-family: inherit;
    font-size: 2.4rem;
    border:none;
}

.form-grid-message {
    grid-row: 1 / span 3;
    grid-column: 2;
    background-color: rgba(100,100,100,1);
    color: white;
    font-family: inherit;
    font-size: 2rem;
    border:none;
}

.contact-section form button {
    align-self: flex-end;
    background-image: linear-gradient(to right, rgb(85, 170, 170), rgb(131, 236, 222));
}


/*****************************************************************
***** Media Queries *****
*****************************************************************/

@media screen and (max-width: 1500px) {
    /***** Project Section *****/
    .project-section-grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    .project-one {
        grid-column: 1
    }
    .project-four {
        grid-column: 2
    }

    /***** About Section *****/
    .about-section-information p {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .page-width {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .page-width {
        width: 92%;
    }
    /***** Resume Section *****/
    .resume-section-information {
        flex-direction: column;
        height: 240px;
        justify-content: space-around;
        align-items: flex-start;
    }

    .resume-section-information p {
        width: 100%;
    }


    /***** Project Section *****/
    .project-section-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(4, 430px);

    }
    .project-four {
        grid-column: 1;
    }

    /**** contact section ***/
    .contact-section-text {
        width: 80%;
    }

}


@media screen and (max-width:700px) {
    html {
        font-size: 50%;
    }
    /***** Skill Section ****/
    .skill-section {
        height: 220px;
    }

}

@media screen and (max-width:600px) {
    /***** Skill Section ****/
    .skill-section {
        height: 400px;
    }
    
    .skill-section .page-width {
        flex-direction: column;
        justify-content: space-around;
    }
    
    .skill-section-information {
        width: 100%;
    }
    .skill-list {
        width: 100%;
    }
}

@media screen and (max-width:500px) {

    .contact-section {
        height: 900px;
    }

    .form-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 60px 60px 60px 200px;
        grid-gap:20px;
        margin: 20px 0;
    }
    
    .form-grid-message {
        grid-row: 4;
        grid-column: 1;
    }
}
